@import 'src/styles/variables'

.assignment-list-item
  width: 100%
  padding: .75rem 1rem
  display: flex
  align-items: center
  border-radius: 6px
  cursor: pointer
  transition: background .2s

  .icon
    width: 2.25rem
    height: 2.25rem
    border-radius: 50%
    background: #2d2e35
    display: flex
    align-items: center
    justify-content: center
    margin-right: .75rem
    transition: background .2s

    .feather
      width: 1.2rem
      height: 1.2rem
      transform: translateY(-5%)
      opacity: .65

  .info
    h2
      font-family: $font-lato
      font-weight: 600
      font-size: .9rem
      margin: 0 0 .2rem

    .due
      display: flex
      align-items: center
      margin-left: -.05rem
      color: $light-text-hint
      font-family: $font-lato
      font-weight: 400
      font-size: .65rem

      .feather-calendar
        width: .75rem
        height: .75rem
        margin-right: .3rem
        color: $light-text-primary
        opacity: .4

  .actions
    margin-left: auto
    color: $light-text-primary

    .feather
      margin-left: .75rem
      width: 1.05rem
      height: 1.05rem
      opacity: .2
      transition: opacity .2s

      &.reorder
        transform: scale(.8)
        cursor: move

  &:hover
    background: $dark-4

    .icon
      background: #31323b

    .actions .feather
      opacity: .7
