@import 'src/styles/variables'

.user-profile-summary
  display: flex
  flex-direction: column
  align-items: center
  font-size: 15px

  .picture
    width: 70%
    padding-bottom: 70%

    border-radius: 50%
    background-size: cover

    transition: filter .15s

  .name
    font-family: $font-lato
    font-weight: 500
    font-size: 1em
    text-transform: uppercase
    letter-spacing: .08em
    margin-top: .5em
    white-space: nowrap

  &:hover
    .picture
      filter: brightness(90%)
