@import 'src/styles/variables'

.user-profile-summary
  display: flex
  flex-direction: column
  align-items: center
  font-size: 15px

  .picture
    width: 70%
    padding-bottom: 70%
    margin-bottom: 3px

    border-radius: 50%
    background-size: cover
    background-position: center center

    transition: filter .15s, box-shadow .35s, margin-bottom .35s

  .name
    font-family: $font-lato
    font-weight: 500
    font-size: 1em
    text-transform: uppercase
    letter-spacing: .08em
    margin-top: .5em
    white-space: nowrap

  &:hover
    .picture
      filter: brightness(90%)

  &.router-link-active
    .picture
      box-shadow: 0 0 0 5.25px $dark-1, 0 0 0 8px $green-1
      margin-bottom: 9px
