@import 'src/styles/variables'

.solved-modal
  h2
    font-family: $font-lato
    font-weight: 700
    font-size: 1rem
    margin: 0 0 .3rem

  p
    font-family: $font-nunito
    font-weight: 400
    font-size: .75rem
    opacity: .75
    letter-spacing: -.03em
    margin: 0 0 1.3rem

  a.onward
    display: inline-block
    background: $green-bg
    border-radius: 6px
    box-shadow: 0 .15rem .6rem -.15rem rgba(55, 141, 93, .6)
    padding: .5rem 1.7rem

    font-family: $font-lato
    font-weight: 700
    font-size: .65rem
    text-transform: uppercase
    letter-spacing: .08em
    color: $light-text-primary
    transform: translateY(.01%)
    transition: transform .35s

    &:hover
      transform: translateY(-5%)

      & ~ .illustration .rings .ring
        transform: translate(-50%, -50%) scale(1.05)
        opacity: .65
        transition-timing-function: ease-out
        transition-duration: .3s .4s

        @for $i from 1 through 4
          &:nth-child(#{$i})
            transition-delay: .6s * ($i - 1) / ($i + 3)
            opacity: .5 + (.15 * (1 / ($i * $i)))


  .illustration
    position: absolute
    z-index: -1
    top: 5.5rem
    left: 50%

    .center
      position: absolute
      z-index: 2
      transform: translate(-50%, -50%)
      width: 6rem
      height: 6rem
      border-radius: 3rem
      background: $green-solid
      box-shadow: 0 0 1.5rem 0 transparentize($green-text, .5)

      display: flex
      align-items: center
      justify-content: center

      .feather
        width: 2.6rem
        height: 2.6rem
        opacity: .3

    .rings
      position: absolute
      z-index: 1
      transition: opacity .65s, transform .9s

    .ring
      position: absolute
      transform: translate(-50%, -50%)
      border-radius: 50%
      border: 2px solid
      opacity: .5
      transition: transform .3s, opacity .3s

    @for $i from 1 through 4
      .ring:nth-child(#{$i})
        $size: 6rem - .5rem + (3.5rem * $i)
        width: $size
        height: $size
        $opacity-multiplier: 1 - (.2 * $i)
        border-color: transparentize(#2bc772, (1 - $opacity-multiplier))


    .cutout
      width: 15rem
      height: 15rem
      background: #f7f7f7
      position: absolute
      transform-origin: top left
      $skew: 8deg
      transform: rotate(45deg + $skew / 2) skew(0, -$skew)


  &.modal-wrapper /deep/ div.content
    margin: 0


  &:not(.open)
    .rings
      transform: scale(.9)
      opacity: 0

  &.open
    .illustration .center
      opacity: 0
      animation: spin-in .65s .125s cubic-bezier(.165, .84, .16, 1.16) forwards

      @keyframes spin-in
        from
          transform: translate(-50%, -50%) rotate(-800deg) scale(.15)
          opacity: 0

        75%
          opacity: 1

        to
          transform: translate(-50%, -50%)
          opacity: 1


    .rings
      opacity: 1
      transform: scale(1)
      transition-delay: .55s

    &.modal-wrapper /deep/ .modal
      transition: transform .6s cubic-bezier(.165, .885, .16, 1), opacity .45s
