@import 'src/styles/variables'

.illustration
  display: none

h2
  font-family: $font-lato
  font-weight: 700
  font-size: 1rem
  margin: 0 0 .3rem

p
  font-family: $font-nunito
  font-weight: 400
  font-size: .75rem
  opacity: .75
  letter-spacing: -.03em
  margin: 0 0 1.3rem

a.onward
  background: $green-bg
  border-radius: 6px
  box-shadow: 0 .15rem .6rem -.15rem rgba(55, 141, 93, .6)
  padding: .5rem 1.7rem

  font-family: $font-lato
  font-weight: 700
  font-size: .65rem
  text-transform: uppercase
  letter-spacing: .08em
  color: $light-text-primary
