@import 'src/variables'

$radius: 5px

.test-result-card
  position: relative
  min-width: 285px
  width: calc(160px + 7rem)
  max-width: 325px

  margin-top: .75rem

  background: $dark-3
  border-radius: $radius
  overflow: hidden

  font-size: .65rem
  user-select: none

  .status-indicator
    position: absolute
    top: 0
    left: 0
    width: $radius
    height: 100%

    background: $gray-solid

    &.green
      background: $green-solid

    &.red
      background: $red-solid

  .expand-arrow
    cursor: pointer
    position: absolute
    top: .5rem
    right: .5rem
    width: 1.1rem
    height: 1.1rem
    transition: transform .35s

    &.flipped
      transform: rotate(.5turn)

  .collapsed,
  .expanded
    padding: 1em 0 1em 1rem

  .collapsed
    color: transparentize($light-text-primary, .1)

  .expanded
    color: transparentize($light-text-primary, .2)

    span
      font-weight: 700

    p
      line-height: 1.3em
      margin: 0

      &:not(:last-of-type)
        margin-bottom: 1em
