@import '../../../global-styles'


// Slightly more saturated and brighter than $dark-2
$link-bg: #1a1a1f


@mixin column-layout($num-columns)
  // Allot 1rem between each card and divide the remaining space by the number of columns
  width: calc((100% - #{$num-columns - 1}rem) / #{$num-columns})

  &:nth-child(#{$num-columns}n)
    // Rightmost card in each row should have no margin-right to prevent unnecessary wrapping
    margin-right: 0


.category-card
  height: 8.2rem
  position: relative
  margin: 0 1rem 1rem 0
  float: left

  transition: transform .25s

  &:hover
    transform: translateY(-1px)

  &.invisible
    .problem-link,
    .remainder
      visibility: hidden


  .background
    padding: 1rem 0 1rem 1rem
    width: 100%
    min-height: 100%
    max-height: 100%
    background: $dark-1
    border-radius: 4px
    box-shadow: 0 10px 20px -5px transparentize($black, .75)
    transition: box-shadow .25s, width .35s, min-height .35s, max-height .35s

  &:not(.expanded) .background:hover
      box-shadow: 0 12px 35px -3px transparentize($black, .75)

  &.expanded .background
    width: 130%
    min-height: 130%
    max-height: 160%

    .collapsed-view
      transition: opacity .2s

    .expanded-view
      transition: opacity .2s .15s, width .35s
      width: calc(100% - 1rem)

    .progress-pie
      right: calc(-30% + 1rem)
      width: 1.15rem
      height: 1.15rem


  .invisible
    opacity: 0
    pointer-events: none

  // Fixed size, position: absolute and can't size background
  .collapsed-view
    position: absolute
    width: calc(100% - 1rem)
    height: calc(100% - 2rem)
    transition: opacity .2s .15s

  // When this enters the DOM it stretches the background element (which then transitions in max-width)
  .expanded-view
    width: calc(130% - 1rem)
    overflow: hidden
    transition: opacity .2s, width .35s

    h1
      font-size: 1.05rem
      font-weight: 600
      letter-spacing: .02em
      margin-bottom: .25rem
      cursor: text

    .progress-pie
      top: 1rem

    .description
      color: $light-text-hint
      font-size: .75rem
      margin-bottom: 1rem
      width: calc(100% - 1.5rem)



  // Small screens: 1 column
  @media (min-width: 0)
    @include column-layout(1)

  // medium screens: 2 columns
  @media (min-width: 650px)
    @include column-layout(2)

  // large screens: 3 columns
  @media (min-width: 1100px)
    @include column-layout(3)

  // extra large screens: 4 columns
  @media (min-width: 1600px)
    @include column-layout(4)


// The title of the card
h1
  font-size: .8rem
  font-weight: 500
  white-space: nowrap
  margin: 0 0 1rem
  cursor: pointer


// The progress indicator
.category-card .progress-pie
  position: absolute
  top: 0
  right: 1rem
  width: 1rem
  height: 1rem
  transition: width .35s, height .35s, right .35s


// The links that go inside the cards
.problem-link
  background: $link-bg
  font-family: 'Montserrat', sans-serif
  font-size: .6rem
  font-weight: 400
  letter-spacing: .02em
  color: $light-text-secondary

  display: block
  float: left
  padding: .6rem .95rem
  margin: 0 .55rem .55rem 0

  border-radius: 2px

  transition: background .25s

  &.passed
    color: $green-text

  &:hover
    background: lighten($link-bg, 3)


// The indicator specifying how many problems are not displayed
.remainder
  font-family: 'Montserrat', sans-serif
  font-size: .6rem
  font-weight: 300
  color: $green-text

  display: block
  float: left
  padding: calc(1em - 3px)
  margin: 0

  border-radius: 4px
  border: 2.5px solid $link-bg

  cursor: pointer

  transition: background .25s

  &:hover
    background: $link-bg
