@import '../../colors.sass'

div.sidebar
  flex-grow: 0
  height: 100vh
  background-color: $dark-3

  .sidebar-link
    display: flex
    align-items: center

    padding: .25em 10em .25em 0
    font-family: 'Lato', sans-serif
    font-size: .75rem
    font-weight: 100
    text-transform: uppercase
    letter-spacing: .1em

    i
      padding: .25em 1em

    &.router-link-active
      background: $sidebar-selected-gradient


.profile
  margin: 1.5em .75em
  text-align: center

  .profile-image
    width: 5em
    height: 5em
    margin: .5em 1em .75em
    border-radius: 50%

  .profile-name
    letter-spacing: .05em
