@import '../../../colors.sass'

div.sidebar
  position: absolute
  height: 100vh
  background-color: $dark-3

  .sidebar-link
    display: flex
    align-items: center

    background: $sidebar-selected-gradient
    padding: .25em 10em .25em 0
    font-family: 'Lato', sans-serif
    font-size: .75rem
    font-weight: 100
    text-transform: uppercase
    letter-spacing: .1em

    i
      padding: .25em 1em
