@import 'src/styles/variables'

.feather-arrow-left
  position: absolute
  top: .85rem
  left: 1.3rem
  z-index: 5
  width: 1.1rem
  height: 1.1rem
  cursor: pointer
  color: $white
  opacity: .6
  transition: opacity .15s

  &:hover
    opacity: .75
