@import 'src/styles/variables'

.picture
  position: relative
  left: 50%
  transform: translateX(-50%)
  width: 7.5rem
  height: 7.5rem
  border-radius: 50%
  cursor: pointer
  background-color: $dark-3
  background-size: cover
  margin-bottom: 1rem
  box-shadow: inset 0 0 0 500px transparentize($dark-1, .55)
  transition: box-shadow .2s
  cursor: pointer

  .center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    display: flex
    flex-direction: column
    align-items: center

    pointer-events: none
    opacity: .65
    transition: opacity .2s

  .feather-camera
    width: 1.5rem
    height: 1.5rem

  .label
    font-family: $font-lato
    font-weight: 700
    font-size: .5rem
    text-transform: uppercase
    letter-spacing: .085em

    margin-top: .15em

  &:hover
    box-shadow: inset 0 0 0 500px transparentize($dark-1, .45)

    .center
      opacity: .75
