@import 'src/styles/variables'

$active-color: $green-solid

.picture,
.new-picture
  display: inline-block
  width: 7.5rem
  height: 7.5rem
  border-radius: 50%

.picture
  position: relative
  z-index: 20
  cursor: pointer
  background-color: $dark-3
  background-size: cover
  margin-bottom: .5rem
  box-shadow: inset 0 0 0 500px transparentize($dark-1, .55)
  transition: box-shadow .2s, opacity .15s, transform .2s
  will-change: transform

  .center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

    display: flex
    flex-direction: column
    align-items: center

    pointer-events: none
    opacity: .65
    transition: opacity .2s

  .feather-camera
    width: 1.5rem
    height: 1.5rem

  .label
    font-family: $font-lato
    font-weight: 700
    font-size: .5rem
    text-transform: uppercase
    letter-spacing: .085em

    margin-top: .15em

  &:hover
    box-shadow: inset 0 0 0 500px transparentize($dark-1, .45)

    .center
      opacity: .75

$num-rings: 3
$circle-size: 35px + 145px * ($num-rings + .75)

.circle-modal
  cursor: default
  position: relative
  z-index: 19
  top: (7.5rem / 2) // Half picture height

  .scrim
    position: fixed
    top: 0
    left: 0
    z-index: 50
    width: 100%
    height: 100%
    background: $dark-3

    pointer-events: none
    opacity: 0
    will-change: opacity
    transition: opacity .15s .1s ease-out

  .circle
    position: absolute
    top: 50%
    left: 50%
    z-index: 51
    width: $circle-size
    height: $circle-size

    background: $dark-1
    border-radius: 50%
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, .25)

    transform: translate(-50%, -50%) scale(0)
    will-change: transform
    opacity: .5
    transition: transform .25s ease-in, opacity .25s .1s

  &.open
    .scrim
      opacity: .75
      pointer-events: all
      transition: opacity .15s

    .circle
      opacity: 1
      transform: translate(-50%, -50%) scale(1)
      transition: transform .4s cubic-bezier(.19, 1, .22, 1), opacity .1s

    & ~ .picture,
    & ~ .picture:hover
      opacity: .4
      pointer-events: none
      box-shadow: none
      transform: scale(.85)
      transition: box-shadow .2s, opacity .15s, transform .4s cubic-bezier(.19, 1, .22, 1)

      .center
        opacity: 0



// Simplified from https://gist.github.com/ryanjafari/bf752b6ef52726352239
@function sqrt($square, $estimate: $square / 2)
  @if abs($square - $estimate * $estimate) < .001
    @return $estimate
  @return sqrt($square, ($estimate + $square / $estimate) / 2)

// Simplified from https://github.com/danro/jquery-easing/blob/master/jquery.easing.js#L25-L27
@function ease-out-quad($progress)
  $progress: min(max($progress, 0), 1) // Clamp
  @return -1 * $progress * ($progress - 2)




.upload
  position: relative
  top: (7.5rem / 2)
  z-index: 21
  height: 0

.upload-window
  position: absolute
  left: 50%
  width: $circle-size
  height: $circle-size
  border-radius: 50%
  overflow: hidden
  transform: translate(-50%, -50%)

  &:not(.dropped)
    cursor: pointer

  .feather-upload-cloud
    width: 2rem
    height: 2rem
    color: $white
    opacity: .35
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    transition: color .35s, opacity .35s, transform .25s
    pointer-events: none

    @keyframes center-scale
      from
        transform: translate(-50%, -50%) scale(.5)


  input[type='file']
    opacity: 0
    pointer-events: none


  .new-picture
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%) scale(.85)
    pointer-events: none
    background-size: cover
    transition: opacity .2s, transform .2s

    &.empty
      opacity: 0
      transform: translate(-50%, -50%) scale(.5)



  &:not(.open)
    pointer-events: none
    opacity: 0
    transition: opacity .1s

    .feather-upload-cloud
      transition: opacity .35s, transform .25s
      opacity: 0
      transform: translate(-50%, -50%) scale(.8)

    .new-picture
      transition: transform .25s
      transform: translate(-50%, -50%) scale(.85)

    .rings .ring:nth-child(n)
      opacity: 0
      animation: none

  .rings
    width: 100%
    height: 100%
    pointer-events: none
    will-change: transform

    .ring
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      border-radius: 50%
      box-shadow: 0 0 0 2px transparentize($white, .85)

      @for $i from 1 through $num-rings
        &:nth-child(#{$i})
          width: 35px + 145px * $i
          height: 35px + 145px * $i

          $duration: .25s
          $delay: (.05s + $i * .055s)
          transition: box-shadow .3s, width .375s, height .375s, opacity $duration $delay
          opacity: 1 - ($i / ($num-rings + .75))


  &:not(.has-dragged)
    @for $i from 1 through $num-rings
      .ring:nth-child(#{$i})
        $delay: (.05s + $i * .065s)

        animation: scale-#{$i} .55s $delay cubic-bezier(.19, 1, .22, 1)

        @keyframes scale-#{$i}
          from
            width: 145px * $i - 20px
            height: 145px * $i - 20px

          to
            width: 35px + 145px * $i
            height: 35px + 145px * $i



  // File is hovering over upload window
  &.drop-over:not(.dropped)
    .feather-upload-cloud
      color: $active-color
      opacity: .9
      transform: translate(-50%, -50%) scale(1.075)

    .rings
      animation: pulse 1.25s .25s infinite alternate ease-in-out

      .ring
        box-shadow: 0 0 0 2px transparentize($active-color, .15)

        @for $i from 1 through $num-rings
          &:nth-child(#{$i})
            width: 55px + 150px * $i
            height: 55px + 150px * $i
            transition-delay: ease-out-quad($i / ($num-rings + 1)) * .25s
            transition-duration: .075s + sqrt($i * .75 + 1) * .15s


  // File has been dropped onto upload window
  &.dropped
    .feather-upload-cloud
      color: $active-color
      opacity: 0
      transition-delay: 0
      transition-duration: .35s

    .rings .ring
      @for $i from 1 through $num-rings
        &:nth-child(#{$i})
          width: 55px + 150px * $i
          height: 55px + 150px * $i

          animation-name: boom
          animation-delay: .05s + ease-out-quad($i / ($num-rings + 1)) * .25
          animation-duration: .5s
          animation-fill-mode: forwards


@keyframes pulse
  to
    transform: scale(1.025)

@keyframes boom
  from
    box-shadow: 0 0 0 12px transparent

  to
    box-shadow: 0 0 0 2px transparentize($active-color, .5)
