@import 'src/styles/variables'

.page-2 // Sidzed to set size of modal, accounting for padding
  height: calc(100vh - 7.5rem - 6rem)

  // Positioned to fill whole modal so that there can be a scrollbar
  .page-content
    position: absolute
    top: -3rem
    left: -5rem
    height: calc(100% + 6rem)
    width: calc(100% + 10rem)
    padding: 3rem 5rem
    color: $light-text-primary
    overflow: scroll

    div.proceed-button
      position: absolute
      bottom: 1rem
      right: 1rem

  .header
    font-family: $font-lato

    div
      display: flex
      justify-content: space-between
      align-items: center

      h2
        font-weight: 700
        font-size: 1.2rem
        margin: 0

      h3
        font-weight: 500
        font-size: .7rem
        text-transform: uppercase
        letter-spacing: .075em
        color: $light-text-hint
        margin: 0

    p
      margin: .9rem 0 .25rem
      font-weight: 400
      font-size: .85rem
      color: $light-text-tertiary
