@import 'src/variables'

.input
  font-size: .65rem

  .title
    font-size: .9em
    font-family: 'Avenir Next', 'Avenir', $font-1
    font-weight: 500
    color: transparentize($white, .15)
    margin-left: 3px

  input[type='text']
    display: block
    background: $dark-2
    color: $white
    font-size: 1em
    border-radius: 3px
    padding: .7em 0 .7em .7em
    margin-top: .3em
    width: 100%
    transition: background .15s

    // Resets
    outline: none
    border: 0
    box-shadow: 0

    &:focus
      background: lighten($dark-2, 2%)
