@import 'src/variables'

// Input dimensions

$radius: 4px
$padding: .7em
$font-size: 1em
$height: ($font-size * 1.25) + ($padding * 2)


.input
  font-size: .7rem

  .title
    font-size: .9em
    font-family: 'Avenir Next', 'Avenir', $font-1
    font-weight: 500
    color: transparentize($white, .15)
    margin-left: $radius

  input[type='text']
    display: block
    background: $dark-2
    color: $white
    font-family: $font-2
    font-size: $font-size
    border-radius: $radius
    padding: $padding 0 $padding $padding
    margin-top: .3em
    width: 100%
    transition: background .15s

    // Resets
    outline: none
    border: 0
    box-shadow: 0

    &:focus
      background: lighten($dark-2, 2%)
