@import 'src/styles/variables'
@import 'src/styles/mixins'


.account-settings
  display: flex
  flex-direction: column
  align-items: center
  padding: 1.5rem 0

.card
  @include dark-card(true, 6px)
  width: 100%
  max-width: 25rem
  text-align: center
  padding: .35rem 1.5rem 1rem
  margin-bottom: 1.25rem

h1
  font-size: 1.35rem
  font-weight: 900
  letter-spacing: .025em
  margin: 0 0 .8em

h2
  font-size: .9rem
  font-weight: 900
  letter-spacing: .025em
  margin: .75em 0

.group
  display: flex
  flex-wrap: nowrap
  margin-top: .5rem

  & > *
    flex: 1 1 0

    &:not(:last-child)
      margin-right: 1rem

.input,
.password-reset
  text-align: left
