@import 'src/styles/variables'

.page-3
  color: $light-text-primary
  margin: -1rem 0 0
  padding-bottom: 3rem

  h2
    font-family: $font-lato
    font-weight: 700
    font-size: 1.2rem

  p
    font-family: $font-lato
    margin: .9rem 0
    font-weight: 400
    font-size: .85rem
    color: $light-text-tertiary

  label
    position: relative
    display: inline-flex
    left: 50%
    transform: translate(-50%)
    align-items: center
    margin: 1.5rem 0 1.25rem
    user-select: none
    font-size: .8rem

    span
      font-family: $font-lato
      color: $light-text-tertiary
      transition: color .25s

    input[type='checkbox']
      display: none

    .checkbox
      box-shadow: 0 0 0 1px rgba(174, 181, 198, .2), inset 0 0 0 1px rgba(174, 181, 198, .2)
      width: 1rem
      height: 1rem
      border-radius: .15rem
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      margin-right: .5rem
      transition: background .25s, box-shadow .25s

      .feather-check
        width: .95rem
        height: .95rem
        color: transparent
        transform: translate(1%, 1%) scale(.5)
        transition: transform .25s .1s cubic-bezier(.175, .885, .32, 1.275), color .25s .1s

    input[type='checkbox']:checked + .checkbox
      background: $green-bg
      box-shadow: 0 0 0 1px $green-bg

      .feather-check
        color: $dark-3
        transform: translate(1%, 1%)

      & + span
        color: $light-text-secondary

  .date-time-display
    margin-bottom: 2rem
    transition: opacity .2s

    &.disabled
      opacity: .5
      pointer-events: none
