@import 'src/variables'

// Button dimensions
$radius: 4px

.password-reset
  font-size: .7rem
  position: relative

  .title
    font-size: .9em
    font-family: 'Avenir Next', 'Avenir', $font-1
    font-weight: 500
    color: transparentize($white, .15)
    transition: color .35s
    margin-left: $radius

  button[type='button']
    display: block
    background: $red-solid
    color: $white
    cursor: pointer
    font-family: $font-1
    font-size: .9em
    font-weight: 500
    text-transform: uppercase
    letter-spacing: .085em
    border-radius: $radius
    padding: #{.7em / .9}
    margin: .21rem 0 0
    width: 100%
    height: (1.25em + (.7em * 2)) / .9
    transition: background .25s

    // Resets
    outline: none
    border: 0
    box-shadow: none

    &:hover
      background: saturate(lighten($red-solid, 5%), 20%)

    &:active
      transition-duration: .05s
      background: desaturate(darken($red-solid, 3%), 10%)
