@import 'src/colors'

.category-folder
  margin-top: .5rem
  color: transparentize($light-text-primary, .5)

  .top
    display: flex
    flex-wrap: nowrap

    .feather-chevron-right
      width: .8rem
      height: .8rem
      margin-right: .75rem

    .feather-folder
      width: .85rem
      height: .85rem
      margin-right: .55rem

    .name
      font-size: .8rem
      letter-spacing: -.015em
