@import '../../../variables'

$unfocused-gray: #616161

form
  color: $white
  font-family: $font-2

  & > div
    position: relative
    display: flex

    svg.feather
      width: 1em
      height: 1em
      flex-grow: 0
      margin: .75em 1em 0 0

    input
      flex-grow: 1
      width: 13em

      color: $white

      background: none
      border: 0
      border-bottom: 1px solid $unfocused-gray
      border-radius: 0
      transition: border-bottom .25s

      font: .8em $font-1
      font-weight: 300
      letter-spacing: .025em

      padding: .8em .5em .4em .2em

      &:focus
        outline: none
        border-bottom-color: $white

      &::placeholder
        color: $unfocused-gray

  .error
    width: 100%
    color: $red-solid
    font-size: .65em
    justify-content: center
    position: absolute
    width: 100%
    bottom: 2.7em

  a
    display: inline-block
    margin: 1.5em 0 0
    float: right
    color: $white
    cursor: pointer

    text-decoration: none
    text-transform: uppercase
    letter-spacing: .2em
    font-weight: 300
