@import 'styles/global-styles'
@import 'styles/variables'
@import 'styles/tippy'


.component-root
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh

  display: flex

  background-color: $background
  color: $white

.route-container
  flex-grow: 1
  position: relative
  z-index: 200
  height: 100%
  will-change: transform

.router-view
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
