@import 'src/styles/variables'

.classroom-header
  margin-top: .5rem

.due-date
  display: flex
  align-items: center
  font-family: $font-lato
  font-size: .8rem
  font-weight: 600
  color: $light-text-primary
  opacity: .6

  .feather
    width: .9rem
    height: .9rem
    margin-right: .3rem
