@import 'src/styles/variables'

.classroom.page
  height: 100%
  display: flex
  flex-direction: column
  padding-bottom: 0

.classroom-header
  margin-top: .5rem
  flex: 0 0 auto

.due-date
  display: flex
  align-items: center
  font-family: $font-lato
  font-size: .8rem
  font-weight: 600
  color: $light-text-primary
  opacity: .6

  .feather
    width: .9rem
    height: .9rem
    margin-right: .3rem

.tab-switcher
  flex: 0 0 auto

.tab-page
  flex: 1 1 auto
  min-height: 0

.assignment-page
  width: 100%
  max-width: 33rem
  position: relative
  left: 50%
  transform: translate(-50%)
  padding-bottom: 1.75rem
