@import 'src/styles/variables'

$spacing: 15ch

.tab-switcher
  position: relative
  display: flex
  justify-content: center
  margin: 1.5rem 0 2.5rem

  text-align: center
  font-family: $font-lato
  font-size: .7rem

  .tab
    display: block
    width: $spacing
    font-weight: 400
    letter-spacing: .05em
    text-transform: uppercase
    color: $light-text-hint
    transition-property: color, font-weight
    transition-duration: .35s
    transition-timing-function: cubic-bezier(.645, .045, .355, 1)

    &.selected
      font-weight: 700
      color: $green-solid

      // First of 3
      &:nth-of-type(1):nth-last-of-type(3) ~ .indicator
        transform: translate(-$spacing)

      // Second of 3
      &:nth-of-type(2):nth-last-of-type(2) ~ .indicator
        transform: translate(0)

      // Third of 3
      &:nth-of-type(3):nth-last-of-type(1) ~ .indicator
        transform: translate($spacing)

      // First of 2
      &:nth-of-type(1):nth-last-of-type(2) ~ .indicator
        transform: translate(-$spacing / 2)

      // Second of 2
      &:nth-of-type(2):nth-last-of-type(1) ~ .indicator
        transform: translate($spacing / 2)

  .indicator
    position: absolute
    width: 1.8rem
    height: .1rem
    background: $green-solid
    top: 1.3rem
    transition: transform .35s cubic-bezier(.645, .045, .355, 1)
