doctype html

html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    meta(name='description', content='Codus: easy, efficient code practice.')

    title Codus

    link(rel='stylesheet', href='home/style.css')


  body
    h1 codus
    canvas#stars

    script(src='home/index.js')
