@import '../../../global-styles'

.sidebar
  background: $dark-1

  h1
    font-size: 1.75rem
    letter-spacing: .2em
    text-transform: uppercase
    margin: 2em 1.25em 0

  .links
    padding: 1.75rem
