@import '../../../global-styles'

.sidebar
  background: $dark-1

  h1
    font-size: 1.75rem
    letter-spacing: .2em
    text-transform: uppercase
    margin: 2em 1.25em 0

  .links
    padding: 1.75rem

  &.collapsed
    .links
      padding: 1.75rem 1rem

    .sb-link svg
      margin-right: 0
      opacity: .75

    .sb-link.router-link-exact-active svg
      opacity: 1

  h2
    font-size: .6rem
    color: $light-text-hint
    letter-spacing: .1em
    text-transform: uppercase
    margin: 2em 0 1em

  .divider
    margin: 2em 0

  .sb-link
    font-size: .7rem
    display: flex
    align-items: center
    margin: 1.25em 0
    position: relative

    svg
      width: 1.4em
      height: 1.4em
      margin: -.15em 1em 0 0

    .indicator
      position: absolute
      top: calc(50% - .1em)
      left: -1.75rem
      width: 1rem
      height: .2rem
      background: linear-gradient(90deg, $green-1, $green-2)
      display: none

    &.router-link-exact-active .indicator
      display: block
