// Styles shared among all pages

@import fonts
@import variables

@import responsive-classes
@import md-description
@import scrollbar


*,
*::before,
*::after
  box-sizing: border-box

\:root
  font-size: calc(.35vw + .35vh + .15vmin + 12px)

body
  font-family: $font-nunito
  margin: 0
  padding: 0

h1,
h2,
h3,
h4,
h5
  font-family: $font-lato
  font-weight: 700

a
  text-decoration: none
  color: inherit

canvas
  user-select: none

*:focus
  outline-color: saturate(lighten($green-solid, 5%), 65%)


.page.classroom
  padding: 2.5rem 3.75rem 1.75rem
