// Tippy theme
@import variables

$light-bg: transparentize(#bdbfc2, .025)

.tippy-tooltip.codus-light-theme
  background: $light-bg

  font-family: $font-nunito
  font-weight: 600
  font-size: 12px
  color: transparentize($black, .06)
  text-align: left

  box-shadow: 0 1px 4px transparentize($black, .7)
  border-radius: 3px
  padding: .33em .66em

  kbd
    display: block
    font-family: system-ui, $font-nunito
    font-weight: 400
    opacity: .5

.tippy-popper[x-placement^='top'] .codus-light-theme .tippy-arrow
  border-top-color: $light-bg

.tippy-popper[x-placement^='right'] .codus-light-theme .tippy-arrow
  border-right-color: $light-bg

.tippy-popper[x-placement^='bottom'] .codus-light-theme .tippy-arrow
  border-bottom-color: $light-bg

.tippy-popper[x-placement^='left'] .codus-light-theme .tippy-arrow
  border-left-color: $light-bg
