@import 'src/variables'
@import './variables'


.editor-page
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: flex



.problem-browser
  margin: $gap 0 $gap $gap
  width: $problem-browser-width
  background: $dark-1
  border-radius: $radius
  padding: .65rem 0 0 1.05rem

  .head
    font-size: .9rem
    margin-bottom: 1rem



.editor
  margin-left: $gap
  flex-grow: 1
  position: relative

  .top-bar
    background: $dark-1
    height: $bar-width
    padding: 0 1.85rem 0 1rem
    margin: $gap $gap $gap 0
    border-radius: $radius

    display: flex
    flex-direction: row-reverse
    justify-content: flex-start
    align-items: center

    .feather.button
      width: .85rem
      height: .85rem
      margin-left: 1.3rem

      cursor: pointer

    .spinner
      width: .85rem
      height: .85rem
      margin-left: 1.3rem

    .save-status
      margin-right: .5rem

    .breadcrumbs
      margin-right: auto

  .cards
    position: absolute
    z-index: 10
    $top: calc(#{$bar-width} + #{$gap * 2})
    top: $top
    right: $gap

    height: calc(100vh - (#{$top}) - #{$gap})
    overflow-y: scroll
    padding: .75rem .75rem .75rem 0

    .message
      margin-top: .75rem
      margin-bottom: -.2rem
      overflow: hidden
      text-align: center
      color: $light-text-hint
      cursor: default

      .title
        font-size: .7rem
        text-transform: uppercase
        letter-spacing: .16em

      .help
        font-size: .725rem
        margin-bottom: .1rem

        div:nth-child(2)
          margin-top: .15em
          display: flex
          align-items: center
          justify-content: center

        .feather
          width: 1.1em
          height: 1.1em
          color: $light-text-primary
          margin: 0 .35em


    .tests
      transition: opacity .35s

      &.outdated
        opacity: .55

      .hidden-tests
        margin-top: .75rem
        font-size: .75rem
        text-align: center
        cursor: default
        color: transparentize($white, .2)
        transition: color .35s

        &.passed
          color: $green-solid

        &.failed
          color: $red-solid

  .window.output
    position: absolute
    bottom: calc(#{$gap} + .7rem)
    left: .75rem
    z-index: 15

    &.has-error /deep/ .top-bar > .title
      color: transparentize($red-solid, .35)

    &.outdated
      opacity: .55

  .error-message
    font-family: $font-mono
    font-size: .65rem
    white-space: pre
    tab-size: 2
    color: $red-solid

.pop-up-enter
  transform: translateY(300%)
  opacity: 0

.pop-up-enter-active
  transition: transform .35s cubic-bezier(.29, .99, .58, 1.28), opacity .35s

.pop-up-leave-active
  transition: transform .35s, opacity .35s

.pop-up-leave-to
  transform: translateY(300%)
  opacity: 0
