@import '../../../global-styles'

.editor
  .top-bar
    background: $dark-1
    height: 2.5rem
    margin-left: .25rem
    padding: 0 1rem

    display: flex
    align-items: center

// sass-lint:disable class-name-format

.cm-s-base16-dark
  &.CodeMirror
    background: transparent

  .CodeMirror-gutters,
  .CodeMirror-linenumbers
    background: transparent
