@import 'src/variables'
@import '../../style'


.problem-overview-card
  position: absolute
  min-width: 285px
  width: calc(160px + 7rem)
  max-width: 325px

  background: $dark-3
  padding: .75rem 1rem 1rem
  border-radius: $radius
