@import 'src/styles/variables'

.problem-link
  display: flex
  flex-wrap: nowrap
  align-items: center
  margin-top: .95em
  color: $light-text-primary
  font-family: $font-nunito
  font-weight: 300
  opacity: .5
  transition: opacity .15s

  &.router-link-exact-active
    opacity: 1
    font-weight: 400

    .feather
      opacity: .75

  .feather
    width: 1.05em
    height: 1.05em
    margin-right: .7em
    transition: opacity .15s

  &.solved
    .feather
      opacity: 1
      color: $green-1

  span
    font-size: 1em
