.classroom-header
  padding: 0 4px

.row
  display: flex
  flex-wrap: wrap
  margin-right: -20px

  .card
    flex-grow: 1
    min-width: 16rem
    margin: 0 20px 20px 0


// Stagger fade-in cards

.unfetched
  .card
    box-shadow: none
    opacity: .4

    & /deep/
      & > *
        opacity: 0

.card
  transition: opacity .35s

  & /deep/
    & > *
      transition: opacity .35s

  @for $i from 1 through 2
    &:nth-child(#{$i})
      $delay: .075s * ($i - 1)

      &,
      & /deep/
        & > *
          transition-delay: $delay


@media (min-width: 1000px)
  .grid
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr)
    grid-template-rows: minmax(0, 1fr)

  .students
    grid-area: 1 / 1 / 2 / 2

  .assignments
    grid-area: 1 / 2 / 2 / 3
