@import 'src/styles/variables'

.classroom-header
  padding: 0 4px

.row
  display: flex
  flex-wrap: wrap
  margin-right: -20px
  min-height: 13rem

  .card
    flex: 1 1 0
    min-width: 16rem
    margin: 0 20px 20px 0

.students
  .students-list
    list-style-type: none
    padding: 0
    margin: 0

    .student
      float: left
      width: calc(50% - 1rem)
      margin-right: 1rem
      margin-bottom: .5rem

      display: flex
      align-items: center
      justify-content: flex-start

      @media (min-width: 1600px)
        width: calc(33% - 1rem)


      .image
        width: 1.5rem
        height: 1.5rem
        flex: 0 0 1.5rem
        border-radius: 50%
        background-size: cover
        margin-right: .6rem

      .name
        flex: 1 1 0
        min-width: 0
        font-family: $font-lato
        font-weight: 400
        font-size: .8rem
        color: $light-text-secondary
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis



// Stagger fade-in cards

.unfetched
  .card
    box-shadow: none
    opacity: .4

    & /deep/
      & > *
        opacity: 0

.card
  transition: opacity .35s

  & /deep/
    & > *
      transition: opacity .35s

  @for $i from 1 through 2
    &:nth-child(#{$i})
      $delay: .075s * ($i - 1)

      &,
      & /deep/
        & > *
          transition-delay: $delay
